@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope";
}

body{
    background-color: rgb(255, 250, 242);
}

nav{
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
}

.navbar{
    padding: 0 80px 0 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: white;
}

.logo h1{
    font-weight: 600;
}

.nav-menu{
    align-items: center;
}

.nav-menu-detail{
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-menu-detail li{
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    list-style: none;
    color: white;
    transition: ease-in 200ms;
}

.nav-menu-detail li:hover{
    font-size: 1.7em;
    transition: ease-out 200ms;
}

.main-section{
    margin-top: 50px;
    padding: 0 130px 0 130px;
}

.main-section-pertama{
    display: flex;
    justify-content: left;
}

.isian-main-section{
    width: auto;
}

.main-section-text{
    width: 100%;
    padding-left: 20%;
    color: rgb(33, 33, 33);
}

.main-section-text h1{
    line-height: 60px;
    letter-spacing: -3px;
    font-size: 3.8em;
}

.biodata-item {
    display: flex;
    color: rgb(33, 33, 33);
    font-size: 1.3em;
    margin-bottom: 10px;
    align-items: baseline;
}

.label {
    min-width: 100px;
    font-weight: 500;
}

.separator {
    margin: 0 15px;
}

.value {
    flex: 1;
    font-weight: 300;
}

.foto-main{
    padding-top: 30px;
    filter: blur(2px);
    transition: ease-in 600ms;
}

.foto-main:hover{
    filter: none;
    transform: rotate(3deg);
    transition: ease-out 600ms;
}

